.register{
    /* align-items: center; */
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background:url("https://images.unsplash.com/photo-1528460033278-a6ba57020470?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjF8fGJhY2tncm91bmR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
   background-size: cover;
    align-items: center;

}
.registerTitle{
    font-size: 50px;
}

.registerForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.registerForm >label{
    margin: 10px 0;
}
.registerInput{
    padding: 10px;
    background: white;
    border: none;
}
.registerBtn{
    margin-top: 20px;
    cursor: pointer;
    background-color:rgb(134, 120, 197);
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;

}
.registerLoginbtn{
    margin-top: 10px;

    position: absolute;
    top: 60px;
    right: 20px;
    cursor: pointer;
    background-color: rgb(101, 196, 89);
    color: white;
    border-radius: 10px;
    padding: 15px;
    font-size: 15px;
    border: none;
}
.reglabel{
    text-align: center;
}