.inputstyle{
    display: none;
}
.write{
    padding-top: 50px;
}
.WriteForm{
    position: relative;

}
.WriteFormGroup{
    margin-top: 5px;
    margin-left: 150px;
    display: flex;
    align-items: center;
}
.writeIcon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: gray;
    cursor: pointer;

}
.Writeinput{
    margin-left: 12px;
    font-size: 30px;
    border: none;
    padding: 20px;
    width: 70vw;
   
}
.WriteinputwriteText{
    margin-left: 35px;
    font-size: 20px;
    border: none;
    padding: 20px;
    width: 70vw;
    outline: none;
}
.Writeinput:focus{
    outline: none;
}
.writeText{
    font-size: 20px;
    height: 100vh;
}
.writeSubmit{
    position: absolute;
    top: 20px;
    right: 50px;
    color: white;
    background-color: rgb(64, 179, 224);
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.writeImage{
    margin-left: 150px;
    width: 75vW;
    height: 300px;
    border-radius: 12px;
    object-fit: cover;

}